.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure top-bar stays above all content */
}

#content-dropdown {
  max-height: 150px;
  overflow-y: auto;
  /* Ensure dropdown has a specified height to match the button heights, including padding */
  height: 40px; /* Example height, adjust based on your design */
}

#content-area {
  padding-top: 60px; /* Adjust this value if the .top-bar height changes */
}

.right-boxes {
  display: flex;
  flex-wrap: nowrap;
}

.right-boxes button {
  padding: 5px 10px;
  font-size: 12px;
  margin-left: 5px;
  min-width: 30px;
  text-align: center;
  height: 40px; /* Match the height of the dropdown to keep the top-bar consistent */
  display: flex;
  align-items: center; /* Centers button text vertically */
  justify-content: center; /* Centers button text horizontally */
}

.container {
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 0;
  background-color: rgb(223, 223, 223);
}

body {
  font-family: "Times New Roman";
  font-size: 16px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f2f2f2;
  overflow-y: scroll;
}

section {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
}

section h1 {
  font-size: 20px;
  text-align: center;
}

section h2 {
  font-size: 16px;
}

.tab {
  display: inline-block;
  margin-left: 20px;
}

.hangingindent {
  padding-left: 20px;
  text-indent: -20px;
  margin-top: 0;
  margin-bottom: 0;
}

a:link,
a:visited {
  color: blue;
}

a:hover {
  color: red;
}

a[href^="tel:"] {
  pointer-events: none;
  color: inherit;
  text-decoration: none;
}

a[href^="tel:"]:active {
  color: inherit;
  text-decoration: none;
}

sup {
  line-height: 0;
  font-size: 12px;
}

html {
  -webkit-text-size-adjust: 100%;
}

img {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  padding-left: 1px;
  padding-right: 1px;
  position: relative;
  top: 2px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  padding-left: 10px;
}
