.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  color: white;
}

.right-boxes button {
  margin-left: 10px;
}

#content-area {
  margin-top: 20px;
}

.container {
  max-width: 750px; /* Maximum width of the page */
  margin: 0 auto; /* Center the page horizontally */
  background-color: rgb(223, 223, 223);
}

body {
  font-family: "Times New Roman";
  font-size: 16px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f2f2f2;
  overflow-y: scroll;
}
