body {
    font-family: Arial, sans-serif;
    margin: 20px auto; /* Changed to auto for horizontal centering */
    background-color: #f9f9f9;
    max-width: 1000px; /* Added max-width */
    padding: 0 20px; /* Added padding for smaller screens */
}
h1, h2, h3 {
    color: #333;
}
h1 {
    text-align: center;
}
.week {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.week h2 {
    color: #1a73e8;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.goal {
    background-color: #e7f4ff;
    padding: 10px;
    border-left: 4px solid #1a73e8;
    margin-bottom: 10px;
}
ul {
    padding-left: 20px;
}
.assignments {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    border-left: 4px solid #555;
}
.assignments ul {
    list-style-type: square;
}
.deliverables {
    background-color: #e8f5e9;
    padding: 10px;
    margin: 10px 0;
    border-left: 4px solid #388e3c;
}
.extracredit {
    background-color: #ddeff3;
    padding: 10px;
    margin: 10px 0;
    border-left: 4px solid #3f56a1;
}